.banner {
  background-image: url("https://wallpaperaccess.com/full/205852.jpg");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  font-size: 40px;
}

.banner h1, p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1)
}

.banner p {
  font-size: 20px;
  padding-bottom: 10px;
}
